@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #1f242d;
  height: auto;
  margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  border: 1px solid #1f242d;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #1f242d inset;
  box-shadow: 0 0 0px 1000px #1f242d inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #fff;
}